*{
    font-family: sans-serif; /*1*/
}
h1{
    font-size: 24px;
    color: #242424;
    font-weight: 900;
}/*2. Titulo h1 con tamaño 24px, color #242424 y grosor 900.*/

h2{
    font-size: 20px;
    color: #606060;
    font-weight: 800;
}/*3. Titulo h2 con tamaño 20px, color #606060 y grosor 800.*/

p{
    font-size: 14px ; /*4. Los párrafos tamaño 14px.*/
}

li{
    font-family: monospace;
    font-size: 18px;
}/*5. Los elementos de la lista deben tener fuente de familia monospace y tamaño 18px.*/

a{
    font-weight: bold;
} /*6. Todos los links deben estar en negrita.*/

ul a{
    color: orange;
    text-decoration: underline;
}/*7. Los links dentro de la lista deben ser color naranja y estar subrayados.*/

p{
    margin-top: 30px ;
    margin-bottom: 30px;
}/*8. Los párrafos deben tener un margen superior e inferior de 30px.*/

ul{
    margin-left: 100px;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: blue;

}/*9. La lista entera debe tener un margen a la izquierda de 100px y un padding de 20px.
Además, agregarle un borde sólido de 2 pixeles, color azul.*/


.verde {
    color: green;

}/*10. Todos elementos dentro del elemento de lista de las provincias de Nequen y Rio
Negro deben tener color verde (texto y link).*/


ul{
    max-width: 30%;  /*le puse menos porque no quedaba bien*/
}/*11. La lista entera debe tener un ancho máximo de 40%.*/


html{
    background-color: rgb(245,245,245);
}/*12. Aplicar fondo a todo el documento html, usando color expresado en RGB con valores
245 en todos sus parámetros.*/



ul{
    list-style-type: none;

}/*13. Eliminar las viñetas de la lista.*/



li{
    padding-bottom: 20px; /*mas para que quede mejor*/
}
/*14. Agregar 10 pixeles de espaciado interno a cada ítem de la lista.*/



li:hover{
    background-color: rgba(0,0,0,0.1);
}/*15. Agregar un fondo a cada ítem de la lista cuando se le pasa el cursor de mouse por
encima. El color del fondo debe ser en RGBA, aplicando valor 0 a los parámetros de
color y 0.1 al parámetro de opacidad.*/